{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/custom_voice_new.css' %}">
{% endblock %}

{% block contents %}
<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
                <h1>고객의 소리</h1>
                <h3>택배 관련 건의사항을 작성하고 볼 수 있습니다.</h3>
			</header>
		</div>
	</section>
	<br>
	<br>
	{% if request.user.is_authenticated %}
		<!-- Main -->
        <form method="post" action="{% url 'custom_voice_new' %}">
			{% csrf_token %}
            <div class="gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="q_title" id="demo-name" value="" placeholder="제목을 입력해주세요" />
                </div>
				<div class="col-12">
					<textarea name="q_content" id="demo-message" placeholder="내용을 입력해주세요" rows="5"></textarea>
				</div>
			</div>
			<div class="write">
				<input type="submit" value="제출" class="button icon primary solid fa-search">
			</div>
		</form>
		{% else %}
		<h4>로그인한 사용자만 이용하실 수 있습니다.</h4>
		<a href="{% url 'login' %}">로그인하러가기</a>
		{% endif %}
		{% endblock %}				
		</div>
	</body>
</html>