{% extends "base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/custom_voice_detail.css' %}">
{% endblock %}

{% block contents %}
<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
            	<h1>고객의 소리</h1>
                <h3>택배 관련 건의사항을 작성하고 볼 수 있습니다.</h3>
			</header>
		</div>
	</section>
<!-- Main -->

<!--<input  name = 'post_id' type = 'hidden' value = "{{ aa.id }}" >그 게시물 자체에 id 자동으로 부여(post_id라는 이름으로)-->
{% csrf_token %}
<table class="tblH mt60">
		<colgroup>
			<col span="1">
		</colgroup>
	<thead>
		<tr>
			<th colspan="5">{{ aa.q_title }}</th>
		</tr>
	</thead>
	<tbody>
		<tr colspan="5">  
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="name">{{ aa.user }} | {{ aa.q_time }}</td>	
		</tr>
		<td class="contents" colspan="5">
			{{ aa.q_content }}
		</td>
	</tbody>
</table>
{% endblock %}
		</div>
	</body>
</html>