{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/post_search_detail.css' %}">
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ekmz72alyl"></script>
{% endblock %}

{% block contents %}
<!-- Banner -->

<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <h1>택배 조회 </h1>
            <h3>택배 화물의 현위치를 조회 할 수 있습니다.</h3>
        </header>
    </div>
</section>
<!-- Main -->
    <table class="tblH mt60">
        <colgroup>
            <col style="width:25%" span="5">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">운송장 번호</th>
                <th scope="col">발송지</th>
                <th scope="col">도착지</th>
                <th scope="col">받는사람</th>
                <th scope="col">배송상황</th>
            </tr>
        </thead>
        <tbody>
            <tr>       
                    {% for box in box %}
                    <td>{{box.code}}</td>
                    <td>{{box.sender_address}}</td>
                    <td>{{box.receiver_address}}</td>
                    <td>{{box.sender}}</td>
                    <td style ='color:red'>{{box.box_step}}</td>	
                    {% endfor %}
            </tr>
        </tbody>
    </table>
    <br>
    <!-- 지도 넣는곳 -->
    <div style='text-align:center'>
    <div id="map" style="width:40%;height:400px; margin-left :30%"></div>  
    </div>  
    <script>
        var HOME_PATH = window.HOME_PATH || '.';
        var cityhall = new naver.maps.LatLng(37.5666805, 126.9784147),
        map = new naver.maps.Map('map', {center: cityhall, zoom: 15}),
        marker = new naver.maps.Marker({ map: map, position: cityhall });

        // 마커내용
        var contentString = [
            '<div class="iw_inner">',
            '   <h3>서울특별시청</h3>',
            '   <p>서울특별시 중구 태평로1가 31 | 서울특별시 중구 세종대로 110 서울특별시청<br />',
            '       <img src="'+ HOME_PATH +'/img/example/hi-seoul.jpg" width="55" height="55" alt="서울시청" class="thumb" /><br />',
            '       02-120 | 공공,사회기관 &gt; 특별,광역시청<br />',
            '       <a href="http://www.seoul.go.kr" target="_blank">www.seoul.go.kr/</a>',
            '   </p>',
            '</div>'
        ].join('');

var infowindow = new naver.maps.InfoWindow({
    content: contentString,
    maxWidth: 140,
    backgroundColor: "#eee",
    borderColor: "#2db400",
    borderWidth: 5,
    anchorSize: new naver.maps.Size(30, 30),
    anchorSkew: true,
    anchorColor: "#eee",
    pixelOffset: new naver.maps.Point(20, -20)
});

naver.maps.Event.addListener(marker, "click", function(e) {
    if (infowindow.getMap()) {
        infowindow.close();
    } else {
        infowindow.open(map, marker);
    }
});
    </script>



    <table class="tblH mt130">
        <colgroup>
            <col style="width:20%" span="4">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">단계</th>
                <th scope="col">시간</th>
                <th scope="col">현재위치</th>
                <th scope="col">처리현황</th>
            </tr>
        </thead>
        <tbody>
            {% for state in state %} 
            <tr>       
                <td></td>
                <td>{{state.box_date}}</td>
                <td>{{state.box_now}}</td>
                <td>{{state.box_state}}</td>		
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
        </div>
    </body>
</html>