{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/timeline.css' %}">
{% endblock %}

{% block contents %}
<!-- Banner -->
<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <h1>타임라인</h1>
            <h3>지금까지 주고받은 택배를 볼 수 있습니다.</h3>
        </header>
</section>

{% if request.user.is_authenticated %}
<!-- Main -->
<div class="timeline_info">
    <div class="print">
        <div class="print_img">
        <a href="#"><img src="{% static 'images/icon_print.png' %}" alt="icon_print"></a>
        </div>
    </div>
    {% for mybox in mybox %}
    {% if mybox %}
    <div class="timeline">
        <div class="time">
            <span class="date">{{ mybox.visit_date }}</span>
            <!-- <span class="day">수요일</span> -->
        </div>
        <div class="delivery_info">
            <span class="delivery_num">{{ mybox.code }}</span> |
            <span class="delivery_tf">{{ mybox.box_type }}</span>
            <br>
            {% for state in state %}
            {% if state.box == mybox %}
            <span class="delivery_state">{{ state.box_state}}</span> | <span class="delivery_place">{{ state.box_now }}</span>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}

    <!-- <div class="timeline">
        <div class="time">
            <span class="date">9.16</span>
            <span class="day">수요일</span>
        </div>
        <div class="delivery_info">
            <span class="delivery_num">233726778622</span> |
            <span class="delivery_tf">보낸택배</span>
            <br>
            <span class="delivery_state">배송완료</span> | <span class="delivery_place">(연무동)</span>
        </div>
    </div> -->

</div>
{% else %}
<h4>로그인한 사용자만 이용하실 수 있습니다.</h4>
<a href="{% url 'login' %}">로그인하러가기</a>
{% endif %}
{% endblock %}

        </div>
    </body>
</html>